@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo{
    width: 200px;
}
.header{
    padding: 0 !important;
    background-color: #fff !important;
    box-shadow: 0 0 10px -2px #ccc;
}
.nav_link{
    padding: .28rem 1rem !important;
}
.wrap{
    min-height: 92vh;
}
footer{
    background-color: rgba(228, 228, 228, 0.4);
    padding: 2rem 0;
}
.flogo{
    width: 200px;
    margin-bottom: 1rem !important;
}
.about{
    padding: 60px 0;
}
.about_content h4{
    font-size: 30px;
    font-weight: 400;
}
.about_content span{
    color: #0685b3;
    font-weight: 600;
}
.about_content p{
    font-size: 16px;
    color: #808080;
}
.sincerity{
    color: #ff9800 !important;
}
svg{
    width: 20px;
}
.icon a{
    font-size: 22px !important;
    color: #0685b3;
}
.social li{
    padding: 0 12px;
}
.about_list svg {
    color: #ff9800 !important;
    margin-right: 5px;  
    width: 20px; 
}
.about_list{
    line-height: 2.5;
}
.readmore_btn{
    background-color: #0685b3;
    border: 1px solid #0685b3;
    border-radius: 0;
    color: #fff;
    padding: 8px 20px;
    font-weight: 700;
    transition: all  0.5s ease 0s;
}
.readmore_btn:hover{
    border: 1px solid #0685b3;
    background-color: transparent;
    color: #0685b3;
}
.head_bg{
    background-image: url('../public/assets/images/banner-bg.jpg');
    position: relative;
}
.top_heading{
    text-align: center;
    color: #fff;
    padding: 4rem;
    position: relative;
}
.top_heading h1{
    margin-bottom: 0;
}
.head_bg:before{
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.top_heading a{
    color: #fff;
}
.top_heading span{
    color: #ff9800;
}
.top_heading p{
    word-spacing: 5px;
}
.contact{
    padding: 60px 0;
}
iframe{
    border: 0;
    margin-bottom: 2rem;
}
.line{
    border: 3px solid #0685b3;
    border-radius: 25px;
    width: 13%;
    margin: 0 auto 1.5rem;
}
.carousel-inner img{
    filter: brightness(0.6);
}
.services a{
    color: #000;
    line-height: 2;
}
.services svg{
    width: 10px;
    font-size: 15px;
    color: #ff9800 !important;
}
.news_btn{
    background-color: #0685b3;
    border: 1px solid #0685b3;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s ease-out;
}
.news_btn:hover{
    border: 1px solid #0685b3;
    background-color: transparent;
    color: #0685b3;
}
footer h3{
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.icon svg{
    width: 20px;
    height: 20px;
    transition: all  0.5s ease 0s;
}
.icon:hover svg{
    color: #ff9800;
}
.contact_form input{
    height: 45px;
}
.newsletter input{
    height: 45px;
}
.accordion_card{
    cursor: pointer;
}
.fa-chevron-right{
    width: 10px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255);
    background-color: #0685b3;
    border-bottom: 3px solid #ff9800;
}
.nav_item{
    padding: 0 .2rem;
}
.nav_link{
    transition: all 0.5s ease 0s;
}
.nav_link:hover{
    color: rgb(255 255 255) !important;
    background-color: #0685b3;
    border-bottom: 3px solid #ff9800;
}
.offer{
    background-image: url('../public/assets/images/callout-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    text-align: center;
}
.offer::before {
    background-color: rgba(0, 132, 180, 0.9);
    content: "";
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.offer_content{
    position: relative;
}
.heading h3{
    position: relative;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 25px;
}
.heading span{
    color: #f4b734;
}
.offer_content p{
    color: #fff;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.56px;
    margin-bottom: 40px;
    padding: 0 100px;
}
.offer_btn{
    background-color: #f4b734;
    color: #232323;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease 0s;
}
.offer_btn:hover{
    background-color: #232323;
    color: #f4b734;
}
.our_services{
    padding: 60px 0;
}
.services_heading h3{
    color: #232323;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: 1.28px;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.services_heading span{
    color: #0084b4;
    font-weight: 600;
}
.services_heading p{
    color: #888;
    line-height: 24px;
    letter-spacing: 0.52px;
    margin-bottom: 20px;
}
.service{
    padding: 1rem;
}
.service span{
    color: #232323;
    font-size: 17px;
    letter-spacing: 0.429px;
    margin-top: 0;
    text-transform: uppercase;
}
.service p{
    color: #888;
    line-height: 22px;
    letter-spacing: 0.325px;
    margin-bottom: 20px;
}
.testimonials{
    padding: 60px 0;
}
.test_heading h3{
    color: #232323;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: 1.28px;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}
.test_heading span{
    color: #0084b4;
    font-weight: 600;
}
.testi_card{
    text-align: center;
    padding: 2rem .6rem 0rem;
    border: 0;
    border-radius: 20px;
    box-shadow: inset 0 0 20px -12px;
}
.profile_user{
    border-radius: 50%;
    margin-bottom: 1rem !important;
}
.testi_card h5{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.testi_card span{
    color: #ff9800;
    font-style: italic;
    font-weight: 600;
}
.testi_card svg{
    color: #ff9800;
    width: 25px !important;
    height: 25px !important;
    margin: 1rem auto;
}
.testi_card p{
    font-size: 16px;
    margin-bottom: 0;
}
.rating{
    max-width: 32% !important;
    min-width: 32% !important;
    min-height: 32% !important;
    max-height: 32% !important;
}
.slick-prev:before, .slick-next:before{
    color: #0685b3 !important;
    font-size: 30px !important;
}
.slick-list{
    padding: 1rem 0 !important;
}
.slick-prev, .slick-next{
    width: 30px !important;
    height: 30px !important;
}
.about_team{
    padding: 60px 0;
}
.team_heading h3{
    color: #232323;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: 1.28px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.team_heading span{
    color: #0084b4;
    font-weight: 600;
}
.team_box{
    position: relative;
    transition: all 1s ease 0s;
}
.team_body{
    background-color: rgba(0, 0, 0, 0.702);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    transition: all 1s ease 0s;
}
.team_body ul{
    padding-left: 0;
    margin-bottom: 15px;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    transition: all 1s ease 0s;
}
.team_body ul li {
    display: inline-block;
    margin-right: 10px;
}
.team_body li a{
    border: 1px solid #f4b734;
    color: #fff;
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    transition: all 1s ease 0s;
}
.team_body h5{
    color: #f4b734;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}
.team_body p{
    color: #fff;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    text-transform: capitalize;
    word-wrap: break-word;
}
.team_body li a:hover {
    background-color: #f4b734;
    color: #000;
}
.team_box:hover .team_body {
    padding-top: 65px;
}
.team_box:hover .team_body{
    padding-top: 65px;
}
.team_box:hover .team_body ul {
    bottom: 80px;
    opacity: 1;
}
.team_lists{
    padding: 60px 0 0;
}
@media only screen and (max-width: 768px) {
    .header{
        padding: .5rem 1rem !important;
    }
}
